@media (min-width: 0px) {
    .list-img img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .title {
        font-size: 51px;
    }

    .title1 {
        font-size: 42px;
    }

    .title2 {
        font-size: 21px;
    }

    .description {
        font-size: 17px;
    }

    .number {
        width: 38px;
        height: 38px;
        font-size: 25px;
        border-radius: 10px;
    }

    .orga .box .text .title2 {
        height: 38px;
        vertical-align: middle;
    }

    .activite .box {
        width: 260px;
    }

    .navbar {
        display: none;
    }

    .navbar a {
        font-size: 16px;
        padding: 8px 10px;
        text-align: center;
    }

    .size-bar {
        display: inline-block;
        width: 320px;
        text-align: right;
    }

    #size1 {
        display: block;
    }

    #size1 p {
        font-size: 20px;
    }

    #size2 {
        display: none;
    }

    .content {
        width: 320px;
        height: 1100px;
    }

    .top .content {
        height: 1100px;
    }

    .header {
        height: 880px;
        width: 320px;
        grid-template-columns: 320px;
    }

    .header .text {
        height: 500px;
        width: 270px;
        padding: 0 25px 0 25px;
        text-align: center;
    }

    .header .pic {
        display: none;
    }

    .header .pic img {
        font-family: '5061756C2047494C4C4554';
        display: none;
    }

    .content1 {
        width: 320px;
    }

    .valeurs .block {
        margin: 81px 14px 81px 14px;
    }

    .activite .block {
        margin: 81px 14px 81px 14px;
    }

    .orga .content1 .block {
        width: 252px;
        height: 810px;
    }

    .orga .grid {
        grid-template-columns: 280px;
    }

    .orga .block {
        padding: 47px 34px 47px 34px;
    }

    .orga .box {
        margin-bottom: 20px;
        grid-template-columns: 38px 220px;
        width: 280px;
    }

    .container {
        grid-template-columns: 300px;
        font-size: 22px;
    }

    .container p {
        font-size: 22px;
    }

    .engagements .block {
        padding: 81px 14px 81px 14px;
    }

    .engagements .grid {
        grid-template-columns: 300px;
    }

    .orga .description {
        padding-right: 0;
    }

    body {
        background-size: cover;
    }

    .front {
        padding: 16px 32px;
        font-size: 1rem;
        border-radius: 8px;
    }
}

@media (min-width: 500px) {
    .list-img img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .title {
        font-size: 51px;
    }

    .title1 {
        font-size: 42px;
    }

    .title2 {
        font-size: 21px;
    }

    .description {
        font-size: 17px;
    }

    .number {
        width: 38px;
        height: 38px;
        font-size: 25px;
        border-radius: 10px;
    }

    .orga .box .text .title2 {
        height: 38px;
        vertical-align: middle;
    }

    .activite .box {
        width: 352px;
    }

    .navbar {
        display: block;
    }

    .navbar a {
        font-size: 16px;
        padding: 10px 12px;
        text-align: center;
    }

    .size-bar {
        display: inline-block;
        width: 400px;
        text-align: right;
    }

    #size1 {
        display: block;
    }

    #size1 p {
        font-size: 20px;
    }

    #size2 {
        display: none;
    }

    .content {
        width: 400px;
        height: 950px;
    }

    .top .content {
        height: 950px;
    }

    .header {
        height: 880px;
        width: 400px;
        grid-template-columns: 432px;
    }

    .header .text {
        height: 500px;
        width: 350px;
        padding: 50px 25px 0 25px;
        text-align: center;
    }

    .header .pic {
        display: none;
    }

    .header .pic img {
        font-family: '5061756C2047494C4C4554';
        display: none;
    }

    .content1 {
        width: 400px;
    }

    .valeurs .block {
        margin: 81px 14px 81px 14px;
    }

    .activite .block {
        margin: 81px 14px 81px 14px;
    }

    .orga .content1 .block {
        width: 342px;
        height: 650px;
    }

    .orga .grid {
        grid-template-columns: 400px;
    }

    .orga .block {
        padding: 47px 34px 47px 34px;
    }

    .orga .box {
        margin-bottom: 20px;
        grid-template-columns: 63px 330px;
        width: 400px;
    }

    .container {
        grid-template-columns: 400px;
    }

    .container p {
        font-size: 42px;
    }

    .engagements .block {
        padding: 81px 14px 81px 14px;
    }

    .engagements .grid {
        grid-template-columns: 400px;
    }

    .orga .description {
        padding-right: 34px;
    }

    body {
        background-size: cover;
    }

    .front {
        padding: 16px 32px;
        font-size: 1rem;
        border-radius: 8px;
    }
}

@media (min-width: 768px) {
    .list-img img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .title {
        font-size: 51px;
    }

    .title1 {
        font-size: 42px;
    }

    .title2 {
        font-size: 21px;
    }

    .description {
        font-size: 17px;
    }

    .number {
        width: 38px;
        height: 38px;
        font-size: 25px;
        border-radius: 10px;
    }

    .orga .box .text .title2 {
        height: 38px;
        vertical-align: middle;
    }

    .activite .box {
        width: 220px;
    }

    .navbar {
        display: block;
    }

    .navbar a {
        font-size: 16px;
        padding: 14px 16px;
        text-align: center;
    }

    .size-bar {
        display: inline-block;
        width: 700px;
        text-align: right;
    }

    #size1 {
        display: block;
    }

    #size1 p {
        font-size: 20px;
    }

    #size2 {
        display: none;
    }

    .content {
        width: 700px;
        height: 1100px;
    }

    .top .content {
        height: 630px;
    }

    .header {
        height: 610px;
        width: 700px;
        grid-template-columns: 732px;
    }

    .header .text {
        height: 500px;
        width: 650px;
        padding: 100px 70px 0px 50px;
        text-align: left;
    }

    .header .pic {
        width: 350px;
        height: 600px;
        display: block;
    }

    .header .pic img {
        font-family: '5061756C2047494C4C4554';
        display: none;
    }

    .content1 {
        width: 700px;
    }

    .valeurs .block {
        margin: 81px 64px 81px 64px;
    }

    .activite .block {
        margin: 81px 64px 81px 64px;
    }

    .orga .content1 .block {
        width: 578px;
        height: 600px;
    }

    .orga .grid {
        grid-template-columns: 280px 280px;
    }

    .orga .block {
        padding: 47px 64px 47px 64px;
    }

    .orga .box {
        margin-bottom: 40px;
        grid-template-columns: 38px 220px;
        width: 280px;
    }

    .container {
        grid-template-columns: 280px 280px;
        font-size: 22px;
    }

    .container p {
        font-size: 22px;
    }

    .engagements .block {
        padding: 81px 64px 81px 64px;
    }

    .engagements .grid {
        grid-template-columns: 300px 300px;
    }

    .orga .description {
        padding-right: 0;
    }

    body {
        background-size: auto;
    }

    .front {
        padding: 16px 32px;
        font-size: 1rem;
        border-radius: 8px;
    }

}

@media (min-width: 1200px) {
    .list-img img {
        width: 32%;
        padding: 0;
        margin: 0;
    }

    .title {
        font-size: 51px;
    }

    .title1 {
        font-size: 42px;
    }

    .title2 {
        font-size: 21px;
    }

    .description {
        font-size: 17px;
    }

    .number {
        width: 38px;
        height: 38px;
        font-size: 25px;
        border-radius: 10px;
    }

    .orga .box .text .title2 {
        height: 38px;
        vertical-align: middle;
    }

    .activite .box {
        width: 260px;
    }

    .navbar {
        display: block;
    }

    .navbar a {
        font-size: 16px;
        padding: 14px 16px;
        text-align: center;
    }

    .size-bar {
        display: inline-block;
        width: 1100px;
        text-align: right;
    }

    #size1 {
        display: block;
    }

    #size1 p {
        font-size: 20px;
    }

    #size2 {
        display: none;
    }

    .content {
        width: 1100px;
        height: 1100px;
    }

    .top .content {
        height: 630px;
    }

    .header {
        height: 610px;
        width: 1100px;
        grid-template-columns: 750px 350px;
    }

    .header .text {
        height: 500px;
        width: 630px;
        padding: 100px 70px 0px 50px;
        text-align: left;
    }

    .header .pic {
        width: 350px;
        height: 600px;
        display: block;
    }

    .header .pic img {
        font-family: '5061756C2047494C4C4554';
        display: block;
    }

    .content1 {
        width: 1100px;
    }

    .valeurs .block {
        margin: 81px 64px 81px 64px;
    }

    .activite .block {
        margin: 81px 64px 81px 64px;
    }

    .orga .content1 .block {
        width: 972px;
        height: 350px;
    }

    .orga .grid {
        grid-template-columns: 280px 280px 280px;
    }

    .orga .block {
        padding: 47px 64px 47px 64px;
    }

    .orga .box {
        margin-bottom: 0px;
        grid-template-columns: 38px 220px;
        width: 280px;
    }

    .container {
        grid-template-columns: 300px 300px 300px;
        font-size: 22px;
    }

    .container p {
        font-size: 22px;
    }

    .engagements .block {
        padding: 81px 64px 81px 64px;
    }

    .engagements .grid {
        grid-template-columns: 300px 300px 300px;
    }

    .orga .description {
        padding-right: 0;
    }

    body {
        background-size: auto;
    }

    .front {
        padding: 16px 32px;
        font-size: 1rem;
        border-radius: 8px;
    }

}